.button{
    display: inline-block;
    width: 36px;
    height:36px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
    cursor: pointer;


}
.button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}